<!-- web/footer.vm -->

#parse("web/ad/footerHalfbanner.vm")

<div class="footer_widebg">
<div id="footer">
	<div id="privacymark">
	<a href="/sns/redirect?to=http://privacymark.jp/" target="_blank"><img src="./article/images/common/footer/privacymark_21000037_02.gif"></a>
	</div>
	<!-- infonavi -->
	<p>
		<a href="${p.urlBase}/static/kiyaku.html">会員規約</a> |
		<a href="${p.urlBase}/static/rule_manner.html">利用のルールとマナー</a> |
		<a href="${p.urlBase}/static/contact.html">お問い合わせ</a> |
		<a href="${p.urlBase}/static/about_link.html">リンクについて</a> |
		<a href="${p.urlBase}/static/link/members_hp.html">会員ホームページ</a> |
		<a href="${p.urlBase}/my/article/mail_magazine_reading">メールマガジン</a><br />
		<a href="/sns/redirect?to=http://www.nippon-tele.net/company/index.html" target="_blank">会社概要</a> |
		<a href="${p.urlBase}/static/basic_policy.html">個人情報保護基本方針</a> |
		<a href="${p.urlBase}/static/ads.html">広告・シニア市場調査について</a> |
		<a href="${p.urlBase}/my/article/201102021944-3000005.html">メディア掲載情報</a><br />
		<a href="${p.urlBase}/my/article/release_reading">プレスリリース</a> |
		<a href="${p.urlBase}/static/tokutei.html">特定商取引法に基づく表示</a>
	</p>
	<!-- copyright -->
</div>
	<div id="footer_widebg_copyright">
	<h5>Copyright(c)2000-$p.getThisYear() NIPPON TELENET Co,Ltd All Rights Reserved.</h5>
	</div>
</div>

<!--
	Copyright(C) 2011 Nippon Telenet Co,Ltd. - All Rights Reserved.
-->
