<!-- web/header.vm -->
## 上部左メニューを変更、読み物とブログをなくす事で、趣味趣向が異なる
## 会員が交わる機会を減らす。
## 新着ブログは奥 (現状案では旧マイブログの下の方とか)にひっこめる
## 読み物一覧も、トップページ(サイトマップ)から手繰れる。
## TODO: 入会n日後はスーパーバナーを出さない実験を実装
## TODO: ▲トップページ は マイページ とかに変えた方がいい
<style>
#if($p.user)
<!--
#header{
	background: url(/article/images/common/header_menu/bg_header_login.jpg) no-repeat scroll 0 0 transparent;
}
#else
#header_nomember{
	background: url(/article/images/common/header_menu/bg_header_login.jpg) no-repeat scroll 0 0 transparent;
}
#end
-->
</style>
<!-- ヘッダーここから -->
#if($p.user)
<div id="header_widebg">
<div id="header">
	<p class="top_link"><a href="http://${p.Server}${p.urlBase}/my/newInfo" title="スローネット トップページへ">スローネット マイページへ</a></p>
#else
<div id="header_widebg">
<div id="header_nomember">
	<p class="top_link"><a href="http://${p.Server}${p.urlBase}/" title="スローネット トップページへ">スローネット トップページへ</a></p>

#end


	<div id="top_fullbanner">
<style>
<!--
#fullbanner_box {
	list-style:none;
/*	border:1px solid #000;*/
	width:728px;
}
-->
</style>

<ul id="fullbanner_box">
## TODO ちゃんと書く
#if($p.user)
	#if ($p.user.getSinceEntryDate() >= 30)
		#fullBanner(1 $p)
	#else
		Slownetへようこそ！！　
		#if($p.user.getSinceUpdateDate() < 0)
			<br />
			まだプロフィールを書いていませんね？
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			↓まずはプロフィール変更を！！
		#end
	#end
#else
	#fullBanner(1 $p)
#end
</ul>
	</div>

</div><!--end of header-->
</div><!--end of header_widebg-->

	<!-- navi -->
<div id="header_gl_menu_bg">
	<div id="gl_menu">
		<div id="navi01" style="padding-left:10px;">
			<ul>
#if($p.user)
				<li><a href="http://${p.Server}${p.urlBase}/logout" title="ログアウト">ログアウト</a></li>
#else
				<li><a href="https://${p.Server}${p.urlBase}/flogin?url=http://${p.Server}${p.urlBase}/misc/flogin" title="ログイン">ログイン</a></li>
#end

			</ul>
		</div>
		<div id="navi02">
			<ul>
#if($p.user)
				<li><a href="http://${p.Server}${p.urlBase}/my/newInfo" title="マイページ">マイページ</a> |</li>
				<li><a href="${p.urlBase}/members/${p.user.home}/top">公開ページ |</a></li>
				##<li><a href="http://${p.Server}${p.urlBase}/search/top" title="検索">さがす</a></li>
				<li><a href="http://${p.Server}${p.urlBase}/search/resultCircle" title="サークル">サークル</a></li>

#else
				<li><a href="http://${p.Server}${p.urlBase}/my/top" title="トップ">トップ</a> |</li>
	#if($p.currentArea)
		#set($suffix="?entryAreas=$p.currentArea")
	#else
		#set($suffix="")
	#end
				<li><a href="https://${p.Server}${p.urlBase}/entry.do$!{suffix}" target="_blank" title="会員登録（無料）">メルマガ登録・会員登録（無料）はこちら |</a></li>
## 例：<a href="https://${p.Server}${p.urlBase}/entry.do?entryAreas=kanryu">会員登録</a>
				<li><a href="http://${p.Server}${p.urlBase}/search/resultCircle" title="サークル">サークル</a></li>
#end
			</ul>
		</div>

	</div>
</div>



<!-- ヘッダーここまで -->
<!-- Copyright(C) 2011 Nippon Telenet Co,Ltd. - All Rights Reserved.  -->
