@charset "utf-8";
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	-webkit-text-size-adjust: none;

	color: #333;
	line-height: 1.5;
}

#container {
	font-size: 62.5%;
}

#conts {
	font-size: 1.6em;
}
